<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <meta content="telephone=no" name="format-detection" />
  <meta name="huaban" content="nopin" />
  <link rel="icon" type="image/x-icon" href="./img/logo.jpg" rel="external nofollow" >
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>chatDemo</title>
  <!-- <script src="C:\code\web\vue.js"></script> -->
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.5/dist/vue-router.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.1.2/dist/vuex.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.simple.min.js"></script>
</head>
<style type="text/css">



  * {
    margin: 0;
    padding: 0;
  }

  html,body {
    width: 100%;
    height: 100%;
    /* margin-bottom: 10%; */
  }

  .all {
    width: 100%;
    height: 100%;
  }

  .el-header {
    background-color: #4a85d3;
    color: #333;
    text-align: center;
    padding: 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 375%; */
  }

  .el-footer {
    /* padding: 0px 0px; */
    background-color: #E9EEF3;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    /* line-height: 100%; */
  }

  /* .header { */
  /* position: fixed;
  width: 100%;
  height: 7%;
  text-align: center;
  background: rgb(80, 176, 185); */
  /* overflow: auto; */
  /* position: absolute; */
  /* } */



  .msgCss {
    font-size: 15px;
    font-weight: 500;
  }

  .dianxiaoer {
    width: 60%;
    padding: 12px;
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
  }

  .user {
    text-align: left;
    padding: 12px;
    border-radius: 10px;
    margin: 0px 50px 0px 60px;
  }

  .input{
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button{
    width: 20%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<body>
<div id="app" class="all">

  <el-container>

    <el-header class="header">
      <div class="title">
        ChatGPT Stream
      </div>

    </el-header>
    <el-main class="main">

      <div style="overflow-y: auto" id="bigBox">
        <div
                v-for="(item, index) in list"
                class="msgCss"
                :style="{textAlign: item.align}"
        >
          <div class="left" v-if="item && item.align == 'left'">
            <img

                    style="
                width: 50px;
                height: 50px;
                vertical-align: middle;
                border-radius: 50%;
                padding-right: 10px;
              "
                    src="./img/support.jpg"
                    alt=""
            />
            <div class="dianxiaoer" style="background-color: #b8e46f;" v-if="item && item.link == ''">{{item.text}}</div>


          </div>

          <div class="right" v-if="item && item.align == 'right'">
            <img
                    style="
                width: 50px;
                height: 50px;
                vertical-align: middle;
                border-radius: 50%;
                padding-left: 10px;
              "
                    src="./img/user.jpg"
                    alt=""
            />
            <div  class="user" style="background-color: rgb(136, 205, 234);">
              {{item.text}}
            </div>
          </div>

        </div>
      </div>

    </el-main>
    <el-footer class="footer">

      <div style="width: 100%; height: 100%;">
        <div class="input">
          <el-input
                  type="textarea"
                  :autosize="{ minRows: 1, maxRows: 5}"
                  placeholder="Your question"
                  class="input-with-select"
                  v-model="input3"
                  ref="serachBox">
          </el-input>
        </div>
        <div class="button">
          <el-button
                  :loading="buttonLoading"
                  @keydown.enter.native="handleMsg"
                  type="success"
                  size="small"
                  @click="handleMsg">
            Send</el-button>
        </div>
      </div>

    </el-footer>

  </el-container>



</div>
<script>
  //得到手机屏幕的宽度
  let htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
  //  console.log('htmlWidth',htmlWidth)
  //得到手机屏幕的长度
  let htmlHeight = document.documentElement.clientHeight || document.body.clientHeight;
  //  console.log('htmlHeight',htmlHeight)
  //得到html的Dom元素
  let htmlDom = document.getElementsByTagName('html')[0];
  if(htmlWidth>640){//超过640大小的，字体根部都是16px
    htmlWidth=640;
//  console.log('htmlWidth-true',htmlWidth)
  }
  //设置根元素字体大小
  htmlDom.style.fontSize = htmlWidth / 40 + 'px';

  //  let topDom = document.getElementsByClassName("top")[0];
  //  topDom.style.fontSize = htmlWidth / 10 + 'px';

  let mainDom = document.getElementsByClassName("main")[0];
  mainDom.style.height = htmlHeight * 0.82 + 'px';
  //  console.log(mainDom.style.height)
  let headerDom = document.getElementsByClassName("header")[0];
  headerDom.style.height = htmlHeight * 0.1 + 'px';
  headerDom.style.fontSize = htmlWidth / 18 + 'px';
  let footerDom = document.getElementsByClassName("footer")[0];
  footerDom.style.height = htmlHeight * 0.08 + 'px';

  //  let inputDom = document.getElementsByClassName("input-with-select")[0];
  //  inputDom.style.height = htmlHeight * 0.08 + 'px';
  //  inputDom.style.width = htmlWidth * 0.95 + 'px';
  //  inputDom.style.fontSize = htmlWidth / 18 + 'px';

</script>
</body>

<script>
  if (typeof Vue == "undefined") {
    document.write(
            unescape(
                    "%3Cscript src='vendor/vue.min.js' type='text/javascript'%3E%3C/script%3E"
            )
    );
  }
  if (typeof VueRouter == "undefined") {
    document.write(
            unescape(
                    "%3Cscript src='vendor/vue-router.min.js' type='text/javascript'%3E%3C/script%3E"
            )
    );
  }
  if (typeof Vuex == "undefined") {
    document.write(
            unescape(
                    "%3Cscript src='vendor/vuex.min.js' type='text/javascript'%3E%3C/script%3E"
            )
    );
  }
  if (typeof axios == "undefined") {
    document.write(
            unescape(
                    "%3Cscript src='vendor/axios.min.js' type='text/javascript'%3E%3C/script%3E"
            )
    );
  }
</script>
<!-- import JavaScript -->
<script>
  // import {Message} from "element-ui";
  new Vue({
    el: "#app",
    data: function () {
      return {
        // visible: false,
        input3: "",
        list: [],
        buttonLoading: false,
      };
    },
    created: function () {
      // document.addEventListener("keydown", (e) => {
      //   let key = window.event.keyCode;
      //   if (!this.loading) {
      //     // 13是enter键的键盘码 如果等于13 就调用click的登录方法
      //     // key == 13 &&
      //     this.handleMsg();
      //   }
      // });
    },
    methods: {
      async handleMsg() {
        // console.log(this.input3, "发送信息");
        if (this.input3 !== "") {
          this.buttonLoading = true;
          await this.list.push({ align: "right", text: this.input3 });
          this.scrollTop11();
          this.getMsg();
          this.input3 = "";
        }else{
          Vue.prototype.$message({
            message: 'Please enter your question',
            type: 'warning',
            center: true
          });
        }
      },
      getMsg() {
        let self = this;
        // 处理接口请求 返回需要的数据
        axios
            .post("http://localhost:8080/user/testChat", { content: this.input3,code: '135790' })
            .then(async (response) => {
              // console.log(response);
              if (response.status == 200) {

                // 自行处理需要的数据

                const msg = response.data;
                let listMsg = {
                  align: "left",
                  text: msg,
                  link: "",
                };
                // if (msg.flag == 1) {
                //   const splitMsg = msg.answer.split("：");
                //   listMsg.text = splitMsg[0];
                //   listMsg.link = splitMsg[1];
                // }
                self.buttonLoading = false;
                await this.list.push(listMsg);
                this.scrollTop11();
              }else{
                self.buttonLoading = false;
                Vue.prototype.$message({
                  message: 'Failed to get response',
                  type: 'error',
                  center: true
                });

              }
            })
            .catch(function (error) {
              console.log(error);
              self.buttonLoading = false;
              Vue.prototype.$message({
                message: 'Failed to get response',
                type: 'error',
                center: true
              });
            });

      },
      // 处理滚动条一直保持最下方
      scrollTop11() {
        setTimeout(()=>{
          console.log(`已把滚动条保持最下方`)
          const infoBox = document.getElementsByClassName("main");
          infoBox[0].scrollTop = infoBox[0].scrollHeight;
        },0)
      },

    },
  });
</script>
</html>