<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.sys.mapper.AccessInfoMapper">

    <resultMap id="userResult" type="com.chat.sys.entity.AccessInfo">

        <!-- 此处将实体类与数据库中进行了映射，property是实体类中的变量名-->
        <id property="id" column="id"></id>
        <result property="accessCode" column="access_code"></result>
        <result property="deviceId" column="device_id"></result>
        <result property="accessLevel" column="access_level"></result>
        <result property="availableNum" column="available_num"></result>
        <result property="accessType" column="access_type"></result>
        <result property="status" column="status"></result>
        <result property="language" column="language"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="Base_Column_List" >
        id, access_code, device_id, access_level, available_num, access_type, status, language, create_time, update_time
    </sql>

    <insert id="insertAccessInfo" parameterType="com.chat.sys.entity.AccessInfo">
        insert into access_info(access_code,device_id,access_level,available_num,access_type, status, language,,update_time)
        values(#{accessCode},#{deviceId},#{accessLevel},#{availableNum},#{accessType},#{status},#{language},#{updateTime});
    </insert>


    <select id="queryByAccessCode" parameterType="java.lang.Integer" resultMap="userResult">
        SELECT  <include refid="Base_Column_List" /> FROM  access_info where access_code = #{accessCode};
    </select>

    <update id="updateAccessInfo" parameterType="com.chat.sys.entity.AccessInfo">
        update access_info
        <trim prefix="set" suffixOverrides=",">
            <if test="deviceId!=null and deviceId!=''">
                device_id = #{deviceId},
            </if>
            <if test="accessLevel!=null and accessLevel!=''">
                access_level = #{accessLevel},
            </if>
            <if test="status!=null and status!=''">
                status = #{status},
            </if>
            <if test="availableNum!=null">
                available_num = #{availableNum},
            </if>
            <if test="language!=null and language!=''">
                language = #{language},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </trim>
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="accessCode!=null">
                and access_code = #{accessCode}
            </if>
        </where>
    </update>
    
    <select id="queryAccess" resultMap="userResult" parameterType="com.chat.sys.entity.AccessInfo">
        select
        <include refid="Base_Column_List" />
        from access_info
        <where>
            <if test="accessCode!=null">
                and access_code = #{accessCode}
            </if>
        </where>
    </select>

    <delete id="deleteAccessInfo" parameterType="com.chat.sys.entity.AccessInfo">
        delete from access_info  where id = #{id};
    </delete>
</mapper>