<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.sys.mapper.ConfigInfoMapper">

    <resultMap id="configResult" type="com.chat.sys.entity.ConfigInfo">

        <!-- 此处将实体类与数据库中进行了映射，property是实体类中的变量名-->
        <id property="id" column="id"></id>
        <result property="codeType" column="code_type"></result>
        <result property="codeKey" column="code_key"></result>
        <result property="codeValue" column="code_value"></result>
        <result property="codeDesc" column="code_desc"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

<!--    <insert id="insertUser" parameterType="com.chat.sys.entity.AccessInfo">-->
<!--        insert into user_info(user_no,unique_identification,user_level,number_of_times_available)-->
<!--        values(#{userNo},#{uniqueIdentification},#{userLevel},#{numberOfTimesAvailable});-->
<!--    </insert>-->

    <sql id="Base_Column_List" >
        id, code_type, code_key, code_value, code_desc, status, create_time, update_time
    </sql>

    <select id="queryByCodeKey" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT  code_value FROM  config_info where code_key = #{codeKey};
    </select>

    <update id="updateConfigInfo" parameterType="com.chat.sys.entity.ConfigInfo">
        update config_info
        <trim prefix="set" suffixOverrides=",">
            <if test="codeType!=null and codeType!=''">
                code_type = #{codeType},
            </if>
            <if test="codeKey!=null and codeKey!=''">
                code_key = #{codeKey},
            </if>
            <if test="codeValue!=null and codeValue!=''">
                code_value = #{codeValue},
            </if>
            <if test="codeDesc!=null and codeDesc!=''">
                code_desc = #{codeDesc},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigInfo" parameterType="java.lang.Integer">
        update config_info set status = 'N' where id = #{id};
    </delete>


    <select id="queryConfig" resultMap="configResult" parameterType="com.chat.sys.entity.ConfigInfo">
        select
        <include refid="Base_Column_List" />
        from config_info
        <where>
            <if test="codeType!=null and codeType!=''">
                and code_type = #{codeType}
            </if>
            <if test="codeKey!=null and codeKey!=''">
                and code_key = #{codeKey}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>